.footer {
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    background-color: $site-blue;
    

    .logo {
        width: 92px;
        height: 42px;
        margin: 20px;
        background-image: url(../images/logo/logo-white.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}